.form{
    width: 500px;
    margin-left: 200px;
    /* margin-top: -300px; */
    
    background-color: rgb(87, 188, 192);
}
.form .name{
    margin-left: 20px;
    width: 90%;
}
.form .email{
    margin-left: 20px;
    width: 90%;
}
.form .password{
    margin-left: 20px;
    width: 90%;
}
.form .skill{
    margin-left: 20px;
    width: 60%;
}
.form .hobby{
    margin-left: 20px;
    width: 60%;
}

 #btnadd{
    margin-left: 38%;
    width: 120px;
    height: 30px;
    background-color: rgb(32, 31, 31);
    color: aliceblue;
    border: none;
}

.delete{
    margin-left: 40px;
    margin-top: 10px;
    width: 80px;
    height: 30px;
    /* background-color: rgb(32, 31, 31); */
    background-color: red;
    color: aliceblue;
    border: none;
}

#submit{
    margin-left: 32%;
    margin-top: 13px;
    width: 180px;
    height: 30px;
    background-color: green;
    color: aliceblue;
    border: none;
}

.main{
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   
}
.output{
    margin-left: 200px;
    border: 1px solid black;
    padding: 25px;
}