.signupcontainer {
    background: #fff;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 8px 4px 8px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    margin: auto;
    margin-top: 7%;
}

.signupform h2 {
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

.formgroup {
    margin-bottom: 15px;
}

.formgroup label {
    display: block;
    font-size: 14px;
    color: #555;
    margin-bottom: 5px;
}

.formgroup input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.formgroup input:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 3px rgba(0, 123, 255, 0.5);
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}
.p{
    text-align: center;
    color: rgb(93, 93, 207);
    cursor: pointer;
}